.navbar{
    background: #f9f9f9;
  }
.navbar-brand{
    color: fffff;
    margin-left: 5%;
    font-size: 120%;
    font-family: 'Dokdo', cursive;
    font-size: 40px;
}
.navbar-dark{
    background-color: rgb(248, 245, 245);
}
.navbar-nav{
    margin-right: 10%;
}

li{
    margin:5%;
}
.content1{
    margin: auto;
}
.jumbotron{
    background: url(https://user-images.githubusercontent.com/31402838/55704420-e265dd00-5990-11e9-89ed-5198ac6acaed.png) top center;
    background-size: cover;
    margin-top: 1em;
    padding-top: 50em;
    padding-bottom: 3em;
}
.jumbotron p{
    margin-top: 2em;
}
.navbar-toggler-icon{
    background: gray;
}

.center{
    margin-top: 100px;
}

.flex-column { 
    max-width : 300px;
    margin:auto;
    margin-top: 2%
    
}

.d-flex {
    background: #f9f9f9;
}

.img-fluid {
    max-width: 290px;
    height: 200px;
    margin-bottom: 5%;
    
        }
footer{
    max-width: 100%;
    margin-top:10%;
    padding: 1%;
    background: rgb(248, 245, 245);
    
}
.icon{
    margin: 0 auto;
    text-align: center;
}

/*.home{
    background: url(https://user-images.githubusercontent.com/31402838/38962871-3659d788-4324-11e8-8f23-e9ad96cd1d6c.jpg) no-repeat 50% 50%;
    display:table;
    height: 100%;
    width: 100%;
    background-size: cover;
}